body{ background-color: #B0B0B0;"

	
	
}
h2{ text-align: center;"

	
}
h1{ text-align: center; color: blue; border: 4px solid blue; line-height: 300%;"

	
}


img{ display: block;
    margin-left: auto;
    margin-right: auto
	
}

p{ font-size: 22px;"
	
}